

#container-game {

	border-radius: 40px;
	padding-right: 10%;
	padding-left: 10%;
	padding-top: 5%;
    width: 60%;
    font-weight: bold;
    font-size: 20px;
    border: 5px solid black;
    background-image: url('../images/crystalbackground.jpg');
   
    


}

body {     
  background-size: 60%;
  border: solid 4px;
  z-index: -1;
  
  padding: 200px;
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  width: 60%;
  
  

  
}

#wrapper {
	width: 60%;
	max-width: 960px;
    margin: 0 auto;
    
   
}

header {
    padding: 20px;
    float: left;
}

h1 {

    background-color: black;
    font-weight: bold;
    color: white;
    border:solid 1px black;
    clear: both;
    margin-bottom: 30px;

    }

#instructions {

    background-color: yellow;
    font-weight: bold;
    font-size: 14px;
}


.crystals{

display: flex;
justify-content: center;

}



#blue {

    max-height: 150px;
    max-width: 200px;
    width: 120px;
    height: 120px;

}

#pink {
    
        max-height: 150px;
        max-width: 200px;
        width: 120px;
        height: 120px;
    
    }

#yellow {
        
            max-height: 150px;
            max-width: 200px;
            width: 120px;
            height: 120px;
        
        }

#green {
            
            max-height: 150px;
            max-width: 200px;
            width: 120px;
            height: 120px;
            
}


#scoreboard { 



}

footer {
    
    padding: 10px;
    margin-top: 10px;
    text-align: center;   
}
footer a, footer a:visited {
    font-size: 14px;
    color: black;
}

.crystals {

    border: 5px solid black;

}
